.museums {
  padding: 40px 0 100px;
  .section-title {
    text-align: center;
  }
}
.container--museums {
  max-width: 1200px;
  padding: 0;
}

.museums__address-wrap {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.museums__address {
  &:not(:last-child) {
    border-right: 1px solid #e5e5e5;
    margin-right: 40px;
    padding-right: 60px;
  }
  p,
  a {
    font-size: 14px;
    line-height: 24px;
    color: #bfbfbf;
  }
  p {
    width: 100%;
    max-width: 200px;
  }
  a {
    display: block;
  }
}

.museums__address-top {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  img {
    margin-right: 10px;
  }
  h4 {
    font-size: 16px;
    line-height: 20px;
    color: #202020;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .museums {
    padding-bottom: 40px;
  }
  .museums__address {
    &:not(:last-child) {
      margin-right: 20px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 575px) {
  .museums__address-wrap {
    display: block;
    padding: 0;
  }
  .museums__address {
    padding: 0 20px;
    &:not(:last-child) {
      margin-right: 0;
      padding-right: 0;
      padding-bottom: 40px;
      border-right: none;
      border-bottom: 1px solid #e5e5e5;
    }
    &:not(:first-child) {
      margin-top: 40px;
    }
    p {
      max-width: 100%;
    }
  }
}
