.social {
  display: flex;
  align-items: center;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border: 0.5px solid #bfbfbf;
  min-width: 95px;
  height: 34px;
  margin-right: 10px;
  span {
    font-size: 11px;
    letter-spacing: 0.05em;
    color: #848484;
    margin-left: 10px;
  }
  &:hover {
    opacity: 0.5;
  }
}

.social-white {
  .social__link {
    border: none;
    min-width: auto;
    min-height: auto;
    padding: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
    span {
      display: none;
    }
    img {
      transform: scale(1.3);
    }
  }
}

@media (max-width: 767px) {
  .social__link {
    min-width: 84px;
  }
}
