.read-more {
  span {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #202020;
  }
  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: 575px) {
  .read-more {
    margin-bottom: 40px;
  }
}
