.creativity {
  padding: 100px 0 0;
}
.creativity__top {
}
.creativity__row {
  &-1 {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;
    .creativity__text {
      font-size: 20px;
      line-height: 30px;
      color: #bfbfbf;
      width: 100%;
      max-width: 500px;
      margin-left: 60px;
    }
  }
  &-2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 55px;
    .creativity__text {
      font-size: 16px;
      line-height: 26px;
      color: #4b4b4b;
      width: 100%;
      max-width: 440px;
      margin-right: 80px;
    }
    .creativity__image {
      width: 100%;
      max-width: 250px;
      margin-bottom: 0;
    }
  }
}
.creativity__image {
  margin-bottom: 40px;
}
.creativity__desc {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 16px;
    line-height: 26px;
    color: #4b4b4b;
    &:first-child {
      margin-right: 40px;
    }
  }
}

.creativity__bottom {
  padding-bottom: 100px;
  border-bottom: 1px solid #e5e5e5;
  justify-content: start;
  .social {
    width: 50%;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .creativity__row {
    &-1 {
      display: block;
      .creativity__text {
        margin-left: 0;
        max-width: 100%;
      }
    }
    &-2 {
      .creativity__text {
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 575px) {
  .creativity__row {
    &-2 {
      display: block;
      margin-bottom: 20px;
      .creativity__text {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
      }
      .creativity__image {
        max-width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  .creativity__desc {
    display: block;
    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
