@import "scss-reset/_reset.scss";
@import "./fonts/fonts.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  font-weight: normal;
  color: #4b4b4b;
  min-width: 320px;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s linear;
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
  &:hover {
    opacity: 0.5;
  }
}
